@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.title{
    font-weight: 300;
}